<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">

<head>
	<title>Umsatteln.com</title>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<meta http-equiv="Content-Style-Type" content="text/css" />
    <%= javascript_include_tag "prototype" %>
    <%= javascript_include_tag "scriptaculous.js?load=effects,controls" %>
    <%= javascript_include_tag "application" %>
    <%= stylesheet_link_tag "styles", :media => "screen, projection" %>

	<script type="text/javascript">
    //<![CDATA[

    //]]>
    </script>

</head>
<body>
  <div id="header">  
    <div><a href="/" class="logo">umsatteln.com</a> Deutschlands bequemster Fahrradkauf</div>
    <p>Eingeloggt: <%= current_user.login %> 
    <%= link_to '[Ausloggen]', logout_path, :confirm => 'Are you sure?', :method => :delete %></p>
    <div id="menu">
      <ul>
        <li><%= link_to 'Suchen', bikes_path, :title => 'Fahrrad suchen' %></li>
        <li><%= link_to 'Anbieten', new_bike_path, :title=> 'Anbieten' %></li>
        <li><%= link_to 'Händler', '/', :title=> 'Infos für Händler' %></li>
        <li><% if logged_in? %><%= link_to "Dein Account", "/" %><%else%><%= link_to(t("registration.registration"), signup_path) %><%end%></li>
      </ul>
      <br class="clr" />
    </div>
  </div><!-- end of id="header" -->
  
  <div id="content">
  <%= yield :layout %>
  </div>
  
  <div id="footer">
    &copy; umsatteln.com | <a href="#">Impressum</a>
  </div><!-- end of id="footer" -->
</body>
</html>